__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
.env
*.mp4
*.gif
!demo.gif
checkpoints/
!checkpoints/ppo_swarm_final.zip
outputs/
wandb/
*txt
!requirements.txt
*.md
!README.md
!commands.md
logs/*
